@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Backend.Models.RoomModel


@{
    ViewBag.Title = "Create room";
    Layout = "_Layout";
}

@using (Html.BeginForm("CreateRoom", "Management", Model))
{
    <div class="row">
        <div class="col-md-4">
            <h2>Create a new room</h2>
            <div class="horizontal-line"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating auth-container__form--usual" style="margin-top: 4rem">
                <input asp-for="@Model.Name" class="form-control form__field" autocomplete="email" aria-required="true"/>
                <label asp-for="@Model.Name"></label>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-floating  auth-container__form--usual" style="margin-top: 4rem">
                <input asp-for="@Model.Capacity" class="form-control form__field" autocomplete="roomname" aria-required="true"/>
                <label asp-for="@Model.Capacity"></label>
                <span asp-validation-for="@Model.Capacity" class="text-danger"></span>
            </div>
            <div class="form-floating">
                @* @if (Model != null && Model.Facilities != null) *@
                @* { *@
                @*     foreach (var facility in Model.Facilities) *@
                @*     { *@
                @*         // Generate the sites *@
                @*         @Html.CheckBoxFor(m => facility.IsChecked != null && facility.IsChecked.Value) *@
                @*         // @Model.sites[i].SiteName *@
                @*         @Html.LabelFor(m => facility.IsChecked, facility.FacilityType) *@
                @*         @Html.HiddenFor(m => facility.Id) *@
                @*         @Html.HiddenFor(m => facility.FacilityType) *@
                @*     } *@
                @* } *@
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="button--save" style="background-color: #f2208a">Create</button>
            </div>
        </div>
    </div>
    <style>
    .form-floating>label {
        padding: 0.6rem 0.7rem;
    }
    .auth-container__form--usual{
    margin-top: 1rem;
    }
    
        .horizontal-line{ 
            float: left;
             border-bottom: 3px solid #f2208a;
             width: 60vw;
        }
        
        select {
        background-color: #fefefe;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1rem 0.75rem;
        height: calc(3.5rem + 2px);
        }
        
        option {
        height: calc(3.5rem + 2px);
        }
        
        option:focus-within {
        background-color: #f2208a;
        color: white;
        
        }
    </style>
}