@model IList<Backend.Models.RoomModel>

@{
    Layout = "_Layout";
}
@if (TempData["EditMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["EditMessage"]
    </div>
}
@if (TempData["DeletedMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["DeletedMessage"]
    </div>
}
<div>
    <button id="createRoom" class="button-17" style="background-color: #f2208a; color: #f3f3f3; margin-left: 260px">Create new room</button>
    <div class="container">
        <div class="table-responsive">
            <table id="RoomTable" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>IsAvailable</th>
                    <th>Actions<th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(
    function() {
        var table = $('#RoomTable').DataTable({
            ajax: {
                url: "LoadRoomsList",
                type: "POST",
            },
            processing: true,
            serverSide: true,
            filter: true,
            columns: [
                {
                    data: "name",
                    name: "Name",
                    render: function(data, type, RoomTable) {
                                                return RoomTable.name;
                                                }
                },
                {
                    data: "capacity",
                    name: "Capacity",
                    render: function(data, type, RoomTable) {
                                                return RoomTable.capacity;
                                            }
                },
                {
                    data: "isAvailable",
                    name: "IsAvailable",
                    render: function(data, type, RoomTable) {
                                                return RoomTable.isAvailable;
                                            }
                },
                {
                 data: "Edit",
                 render: function(data, type, RoomTable) {
                     return "<button id = edit-button" + RoomTable.id + " class='button-17 edit-item' data-row-id=" + RoomTable.id + ">Edit</button>"
                    + "<button id = delete-button" + RoomTable.id + " class='button-17 delete-item' style='color: red; margin-left: 25px' data-row-id=" + RoomTable.id + ">Delete</button>";
                     
                 },
            },
            ],
            columnDefs: [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button id = Edit class='btn-edit'><i class='bi bi-pencil-square'></i></button> <button id = Delete class ='btn-delete''><i class='bi bi-trash'></i></button>"
                },
                                {"className": "dt-center", "targets": "_all"},

            ]
        });


         $('#createRoom').click(function() {
                    window.location.href = '@Url.Action("CreateRoom")';
                });
                $('#RoomTable tbody').on('click', '.edit-item', function() {
                    var data = table.row($(this).parents('tr')).data();
                    window.location.href = '@Url.Action("EditRoom")' + "/" + data.id;
                });
                $('#RoomTable tbody').on('click', '.delete-item', function() {
                    debugger;
                    var data = table.row($(this).parents('tr')).data();
                    const deleteButton = document.getElementById("delete-button" + data.id);
                            const deleteModal = document.getElementById("delete-modal");
                            const cancelButton = document.getElementById("cancel-button");
                            const confirmButton = document.getElementById("confirm-button");
                            
                            deleteButton.addEventListener("click", function() {
                              deleteModal.classList.add("show");
                            });
                            
                            cancelButton.addEventListener("click", function() {
                              deleteModal.classList.remove("show");
                            });
                            
                            confirmButton.addEventListener("click", function() {
                                 window.location.href = '@Url.Action("DeleteRoom")' + "/" + data.id;
                              deleteModal.classList.remove("show");
                            });
                });
    })
    </script>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}