@model IList<Backend.Models.UserModel>

@{
    Layout = "_Layout";
}

@if (TempData["EditMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["EditMessage"]
    </div>
}
@if (TempData["DeletedMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["DeletedMessage"]
    </div>
}
<div>
    <button id="createUser" class="button-17" style="background-color: #f2208a; color: #f3f3f3; margin-left: 260px">Create new user</button>
    <div class="container">
        <div class="table-responsive">
            <table id="UserTable" class="uk-table-hover uk-table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal">
  <div class="modal-content">
    Are you sure you want to delete?
  </div>
  <div class="modal-buttons">
    <button id="cancel-button" class="btn btn-dark">Cancel</button>
    <button id="confirm-button" class="btn btn-dark">Confirm</button>
  </div>
</div>

<script>
$(document).ready(
    function() {
        var table = $('#UserTable').DataTable({
            ajax: {
                url: "LoadUserList",
                type: "POST",
            },
            processing: true,
            serverSide: true,
            filter: true,
                columns: [
                    {
                        name: "Email",
                        data: "email",
                        render: function(data, type, UserTable) {
                            return UserTable.email;
                        }
                    },
                    {
                        name: "FirstName",
                        data: "firstName",
                        render: function(data, type, UserTable) {
                            return UserTable.firstName;
                        }
                    },
                    {
                        name: "LastName",
                        data: "lastName",
                        render: function(data, type, UserTable) {
                            return UserTable.lastName;
                        }
                    },
                    {
                         data: "Edit",
                         render: function(data, type, UserTable) {
                             return "<button id = edit-button" + UserTable.id + " class='button-17 edit-item' data-row-id=" + UserTable.id + ">Edit</button>"
                            + "<button id = delete-button" + UserTable.id + " class='button-17 delete-item' style='color: red; margin-left: 25px' data-row-id=" + UserTable.id + ">Delete</button>";
                             
                         },
                    },
                ],
            columnDefs: [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<i>Not set</i>"
                    
                },
                {"className": "dt-center", "targets": "_all"},
            ]
        });

        $('#createUser').click(function() {
            window.location.href = '@Url.Action("CreateUser")';
        });
        $('#UserTable tbody').on('click', '.edit-item', function() {
            var data = table.row($(this).parents('tr')).data();
            window.location.href = '@Url.Action("EditUser")' + "/" + data.id;
        });
        $('#UserTable tbody').on('click', '.delete-item', function() {
            debugger;
            var data = table.row($(this).parents('tr')).data();
            const deleteButton = document.getElementById("delete-button" + data.id);
                    const deleteModal = document.getElementById("delete-modal");
                    const cancelButton = document.getElementById("cancel-button");
                    const confirmButton = document.getElementById("confirm-button");
                    
                    deleteButton.addEventListener("click", function() {
                      deleteModal.classList.add("show");
                    });
                    
                    cancelButton.addEventListener("click", function() {
                      deleteModal.classList.remove("show");
                    });
                    
                    confirmButton.addEventListener("click", function() {
                         window.location.href = '@Url.Action("DeleteUser")' + "/" + data.id;
                      deleteModal.classList.remove("show");
                    });
        });
         
    }
    )
    </script>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}