@model IList<Backend.Models.UserModel>

@{
    Layout = "_Layout";
}
@if (TempData["EditMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["EditMessage"]
    </div>
}
@if (TempData["DeletedMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["DeletedMessage"]
    </div>
}
<div>
    <button id="createUser" class="button-17">Create new user</button>
    <div class="container">
        <div class="table-responsive">
            <table id="myUserTable" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Actions<th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(
    function() {
        var table = $('#myUserTable').DataTable({
            ajax: {
                url: "LoadUserList",
                type: "POST",
            },
            processing: true,
            serverSide: true,
            filter: true,
            columns: [{
                    data: "id",
                    name: "Id"
                },
                {
                    data: "email",
                    name: "Email"
                },
                {
                    data: "firstName",
                    name: "FirstName"
                },
                {
                    data: "lastName",
                    name: "LastName"
                },
                {
                    data: "editUrl",
                    name: "Edit"
                },
            ],
            columnDefs: [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button id = Edit class=button-17>Edit</button> <button id = Delete class = button-17 style='color: red''>Delete</button>"
                },
                {
                    "searchable": false,
                    "targets": [4]
                }
            ]
        });

        $('#createUser').click(function() {
            window.location.href = '@Url.Action("CreateUser")';
        });
        $('#myUserTable tbody').on('click', '#Edit', function() {
            var data = table.row($(this).parents('tr')).data();
            window.location.href = '@Url.Action("EditUser")' + "/" + data.id;
        });
        $('#myUserTable tbody').on('click', '#Delete', function() {
            var data = table.row($(this).parents('tr')).data();
            window.location.href = '@Url.Action("DeleteUser")' + "/" + data.id;
        });



    })
    </script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}