@{
    ViewBag.Title = "Import";
    Layout = "_Layout";
}
<div class="upload-cards">
    <div class="card">
        <h3>Upload Users</h3>
        <div class="drop_box">
            <p>Files Supported: .xls,.xlsx,.csv</p>
            @using (Html.BeginForm("Users", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.TextBox("file", "", new { type = "file" })
                <br/>
                <input type="submit" value="Submit" class="btn" accept=".xls,.xlsx,.csv"/>
                @ViewBag.Message
            }
        </div>
    </div>

    <div class="card">
        <h3>Upload Departments</h3>
        <div class="drop_box">
            <p>Files Supported: .xls,.xlsx,.csv</p>
            @using (Html.BeginForm("Departments", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.TextBox("file", "", new { type = "file" })
                <br/>
                <input type="submit" class="btn" value="Submit" accept=".xls,.xlsx,.csv"/>
                @ViewBag.Message
            }
        </div>
    </div>

    <div class="card">
        <h3>Upload Rooms</h3>
        <div class="drop_box">
            <p>Files Supported: .xls,.xlsx,.csv</p>
            @using(Html.BeginForm("Rooms","Import", FormMethod.Post, new { enctype="multipart/form-data"}))
            {
                @Html.TextBox("file", "", new { type = "file" })
                <br/>
                <input type="submit" class="btn" value="Submit" accept=".xls,.xlsx,.csv"/>
                @ViewBag.Message
            }
        </div>
    </div>

    <div class="card">
        <h3>Upload Groups</h3>
        <div class="drop_box">
            <p>Files Supported: .xls,.xlsx,.csv</p>
            @using(Html.BeginForm("Groups","Import", FormMethod.Post, new { enctype="multipart/form-data"}))
            {
                @Html.TextBox("file", "", new { type = "file" })
                <br/>
                <input type="submit" class="btn" value="Submit" accept=".xls,.xlsx,.csv"/>
                @ViewBag.Message
            }
        </div>
    </div>

    <div class="card">
        <h3>Upload Subjects</h3>
        <div class="drop_box">
            <p>Files Supported: .xls,.xlsx,.csv</p>
            @using(Html.BeginForm("Subjects","Import", FormMethod.Post, new { enctype="multipart/form-data", @class="form"}))
            {
                @Html.TextBox("file", "", new { type = "file" })
                <br/>
                <input type="submit" class="btn" value="Submit" accept=".xls,.xlsx,.csv"/>
                @ViewBag.Message
            }
        </div>
    </div>
</div>