@{
    ViewBag.Title = "Import";
    Layout = "_Layout";
}

<h2>Upload Users</h2>
@using(Html.BeginForm("Users","Import", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
        <input type="submit" value="Upload Users" accept=".xls,.xlsx,.csv"/>
        @ViewBag.Message
    </div>
}

<h2>Upload Departments</h2>
@using(Html.BeginForm("Departments","Import", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
        <input type="submit" value="Upload Departments" accept=".xls,.xlsx,.csv"/>
        @ViewBag.Message
    </div>
}

<h2>Upload Rooms</h2>
@using(Html.BeginForm("Rooms","Import", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
        <input type="submit" value="Upload Rooms" accept=".xls,.xlsx,.csv"/>
        @ViewBag.Message
    </div>
}

<h2>Upload Groups</h2>
@using(Html.BeginForm("Groups","Import", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
        <input type="submit" value="Upload Groups" accept=".xls,.xlsx,.csv"/>
        @ViewBag.Message
    </div>
}

<h2>Upload Subjects</h2>
@using(Html.BeginForm("Subjects","Import", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
        <input type="submit" value="Upload Subjects" accept=".xls,.xlsx,.csv"/>
        @ViewBag.Message
    </div>
}